---
import BreadcrumbLayout from '../layouts/BreadcrumbLayout.astro'
---

<BreadcrumbLayout title="Animations" firstBreadcrumb='animations'>
    <div class="bg-white rounded-md shadow-lg px-4 py-2">
        <ul>
            <li class="flex flex-row">
                <div class="my-auto w-1 h-1 rounded-xl bg-black"/>
                <a href={"/animations/carousel"} class="px-2 text-lg underline text-emerald-700 hover:text-emerald-500">Carousel</a>
            </li>
            <li class="flex flex-row">
                <div class="my-auto w-1 h-1 rounded-xl bg-black"/>
                <a href={"/animations/coincidence"} class="px-2 text-lg underline text-emerald-700 hover:text-emerald-500">Coincidence</a>
            </li>
        </ul>
    </div>
</BreadcrumbLayout>

