---
import HomeLayout from '../layouts/HomeLayout.astro';
import AnimatedGreeting from '../components/landing/AnimatedGreeting.svelte';
---

<HomeLayout title="FDIV">
		<div class="flex select-none flex-row font-code text-lg text-white md:text-2xl lg:text-4xl">
			<p>console.log("</p>
			<AnimatedGreeting client:load />
			<p>!");</p>
		</div>
</HomeLayout>