---
import { getCollection, type CollectionEntry } from "astro:content";
import EssaysLayout from "../../layouts/EssaysLayout.astro";

export const prerender = true;

export const getStaticPaths = async () => {
    const posts = await getCollection("posts");

    const paths = posts.map((post) => {
        return {
            params: {
                slug: post.slug
            },
            props: {
                post
            }
        }
    });
    return paths;
}

type Props = {
    post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<EssaysLayout title={post.data.title}>
    <div class="px-12 py-8 rounded-md bg-white">
        <div class="mx-auto prose prose-xl relative">
            <h1>{post.data.title}</h1>
            <Content />
        </div>
    </div>
</EssaysLayout>