---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.svelte";

interface Props {
    title: string,
    firstBreadcrumb: string,
}

const { title, firstBreadcrumb } = Astro.props;

function capitalize(str: string) {
    return str.charAt(0).toUpperCase() + str.slice(1);
}

const breadcrumbs = [{
    name: "Home",
    href: "/"
}, {
    name: capitalize(firstBreadcrumb),
    href: "/" + firstBreadcrumb
}].concat(
    Astro.url.toString().substring(Astro.url.toString().indexOf(firstBreadcrumb) + firstBreadcrumb.length + 1).split("/")
    .map((crumb, index, arr) => {
    return {
        name: capitalize(crumb),
        href: arr.slice(0, index + 1).join("/")
    }
})).filter(crumb => crumb.name !== "");

console.log(Astro.url.toString())
console.log(breadcrumbs)
---

<BaseLayout title={title}>
    <div class="min-h-screen px-16 pt-4 bg-zinc-200">
        <Header breadcrumbs={breadcrumbs}/>
        <div class="py-4">
            <slot />
        </div>
    </div>
</BaseLayout>