---
import BaseLayout from './BaseLayout.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
	<div class="bg-zinc-800 min-h-screen">
		<slot />
	</div>
</BaseLayout>